<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Νέα εγγραφή στο AirServices</h1>
    <h4>Με στοιχεία:</h4>
    <ul>
      <ol>Όνομα: <%= @client.surname %></ol>
      <ol>Email: <%= @client.email %></ol>
      <ol>Κινητό: <%= @client.phone %></ol>
    </ul>
  </body>
</html>