<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Γειά σας <%= @client.name %></h1>
    <p>Ευχαριστούμε για την εγγραφή σας, στην AirServices. <br>
      Θα επικοινωνήσουμε μαζί σας το συντομότερο δυνατό!<br>
      Ευχαριστούμε<br>
      Η ομάδα της AirServices
    </p>
  </body>
</html>