<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @client.name %></h1>
    <p>
      Thank You for Registering to AirServices WebSite. <br>
      We shall contact you shortly!
    </p>
  </body>
</html>